<%= form_for(file_gradework) do |f| %>
  <% if file_gradework.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(file_gradework.errors.count, "error") %> prohibited this file_gradework from being saved:</h2>

      <ul>
      <% file_gradework.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :path %>
    <%= f.text_field :path %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :size %>
    <%= f.number_field :size %>
  </div>

  <div class="field">
    <%= f.label :gradework %>
    <%= f.number_field :gradework %>
  </div>

  <div class="field">
    <%= f.label :gradeworks %>
    <%= select_tag(:id, options_from_collection_for_select(@gradeworks ,:id, :name, @file_gradew)) %>
  </div>

  <div class="actions">
    <%= f.submit%>
  </div>
<% end %>
