<p id="notice"><%= notice %></p>

<p>
  <strong>Gradework:</strong>
  <%= @gradework_user.gradework %>
</p>

<p>
  <strong>User:</strong>
  <%= @gradework_user.user %>
</p>

<%= link_to 'Edit', edit_gradework_user_path(@gradework_user) %> |
<%= link_to 'Back', gradework_users_path %>
