<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @jury.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @jury.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @jury.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @jury.phone %>
</p>

<p>
  <strong>Identification:</strong>
  <%= @jury.identification %>
</p>

<%= link_to 'Edit', edit_jury_path(@jury) %> |
<%= link_to 'Back', juries_path %>
