<div class="form-margin-gradework">
  <%= form_for(gradework) do |f| %>
    <% if gradework.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(gradework.errors.count, "error") %> prohibited this gradework from being saved:</h2>

        <ul>
        <% gradework.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.label :name, 'Nombre', class: 'label-gradework' %>
    <div class="field">
      <%= f.text_field :name , class: 'form-gradework' %>
    </div>

    <%= f.label :description, 'Descripción', class: 'label-gradework' %>
    <div class="field">
      <%= f.text_area :description, class: 'form-gradework' %>
    </div>

    <!-- Aqui va para llamar la lista de estudiantes-->
    <%= f.label :status, 'Estudiante', class: 'label-gradework' %>
    <div class="field">
      <%= f.select :status, class: 'form-gradework' %>
    </div>

    <!-- Aqui va para llamar la lista de Directores-->
    <%= f.label :status, 'Director', class: 'label-gradework' %>
    <div class="field">
      <%= f.select :status, class: 'form-gradework' %>
    </div>

    <!-- Aqui va para llamar la lista de Jurados-->
    <%= f.label :status, 'Jurado', class: 'label-gradework' %>
    <div class="field">
      <%= f.select :status, class: 'form-gradework' %>
    </div>


    <%= f.label :begin_date, 'Fecha de inicio', class: 'label-gradework' %>
    <div class="field">
      <%= f.date_select :begin_date, class: 'form-gradework' %>
    </div>

    <%= f.label :semester, 'Semestre', class: 'label-gradework' %>
    <div class="field">
      <%= f.text_field :semester, class: 'form-gradework' %>
    </div>

    <%= f.label :file, 'Archivo (Resolución)', class: 'label-gradework' %>
    <div class="field">
      <%= f.file_field :file %>
    </div>

    <div class="actions text-center">
      <%= f.submit value: button_name %>
    </div>
  <% end %>
</div>

