<div id="services">
    <div class="indicator hidden-xs"></div>
    <ul class="dropdown-menu">
        <li>
        <a href="http://correo.unal.edu.co" target="_blank"><img src="<%= image_url('layout/icnServEmail.png') %>" width="32" height="32" alt="Correo Electrónico">Correo Electrónico</a>
        </li>
        <li>
            <a href="http://www.sia.unal.edu.co" target="_blank"><img src="<%= image_url('layout/icnServSia.png') %>" width="32" height="32" alt="Sistema de Información Académica">Sistema de Información Académica</a>
        </li>
        <li>
            <a href="http://www.sinab.unal.edu.co" target="_blank"><img src="<%= image_url('layout/icnServLibrary.png') %>" width="32" height="32" alt="Biblioteca">Biblioteca</a>
        </li>
        <li>
            <a href="http://168.176.5.43:8082/Convocatorias/indice.iface" target="_blank"><img src="<%= image_url('layout/icnServCall.png') %>" width="32" height="32" alt="Convocatorias">Convocatorias</a>
        </li>
        <li>
            <a href="http://identidad.unal.edu.co"><img src="<%= image_url('layout/icnServIdentidad.png') %>" width="32" height="32" alt="Identidad U.N.">Identidad U.N.</a>
        </li>
    </ul>
</div>