
<div id="page" class="container-fluid contenedorprincipal" >
    <section role="main-content">       

        <div class="breadcrumb-class">
            Está en:&nbsp;
            <a href="../" target="_self" title="Inicio">Inicio</a>&nbsp;&nbsp;/&nbsp;&nbsp;<b>Retroalimentación</b></div>

        <p id="notice"><%= notice %></p>
        <br></br>
        <h1>Retroalimentación</h1>
        <br></br>
        <div class="bs-example">
          <div class="table-responsive"> 
            <table class="table table-bordered">
                <thead>
                <tr>
                  <th>Anotaciones</th>
                  <th>Puntaje</th>
                  <th>Trabajo de Grado</th>
                  <th>Usuario</th>
                  <th colspan="3">Accion</th>
                </tr>
              </thead>

              <tbody>
                <% @feedbacks.each do |feedback| %>
                  <tr>
                    <td><%= feedback.anotations %></td>
                    <td><%= feedback.score %></td>
                    <td><%= feedback.gradework %></td>
                    <td><%= feedback.user %></td>
                    <td><%= link_to 'Ver', feedback %></td>
                    <td><%= link_to 'Editar', edit_feedback_path(feedback) %></td>
                    <td><%= link_to 'Eliminar', feedback, method: :delete, data: { confirm: '¿Esta Seguro?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table> 
          </div>
        </div>

        <br>

        <%= link_to 'Crear Retroalimentación', new_feedback_path %>


    </section>
</div>
