<div id="page" class="container-fluid contenedorprincipal" >
    <section role="main-content">       

        <div class="breadcrumb-class">
            Está en:&nbsp;
            <a href="../" target="_self" title="Inicio">Inicio</a>&nbsp;&nbsp;/&nbsp;&nbsp;<b>Retroalimentación</b></div>

            <div class="form-class-show">
            <p id="notice"><%= notice %></p>
            		<div class="bs-example">
    					<div class="table-responsive"> 
        				<table class="table table-bordered">
            				<thead>
                				<tr>
                					<th>Anotaciones</th>
				                    <th>Puntaje</th>
				                    <th>Trabajo de Grado</th>
				                    <th>Usuario</th>
				                </tr>
				            </thead>
				            <tbody>
				            	<tr>
				                    <td><%= @feedback.anotations %></td>
				                    <td><%= @feedback.score %></td>
				                    <td><%= @feedback.gradework %></td>
				                    <td><%= @feedback.user %></td>
				                </tr>
				        	</tbody>
				        </table>	
						</div>
					</div>
					<%= link_to 'Editar', edit_feedback_path(@feedback) %> |
					<%= link_to 'Atras', feedbacks_path %>
			</div>

	</section>
</div>

