<!DOCTYPE html>
<html>
  <head>
    <title>GestionMaestria</title>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <!-- Unal layout assets-->
    <%= stylesheet_link_tag "layout/bootstrap-theme.min", media: "all" %>
    <%= stylesheet_link_tag "layout/reset", media: "all" %>
    <%= stylesheet_link_tag "layout/unal", media: "all" %>
    <%= stylesheet_link_tag "layout/base", media: "all" %>
    <%= stylesheet_link_tag "layout/tablet", media: "all" %>
    <%= stylesheet_link_tag "layout/phone", media: "all" %>
    <%= stylesheet_link_tag "layout/small", media: "all" %>
    <%= stylesheet_link_tag "layout/printer", media: "all" %>

    <%= yield :head %>
    
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= render "layouts/unal/sideBar" %>
  	<%= render "layouts/unal/header" %>
    <%= yield %>
    <%= render "layouts/unal/footer" %>
    <%= yield :bottom %>
  </body>
</html>
